$color-primary: #07D167;
$color-secondary: #0E375A;
$color-tertiary: #325CAF;
$box-radius: 10px;
$success: #07D167;
$info: #325CAF;

// breakppints
$mobile-bp: '425px';
$tablet-bp: '768px';
$desktop-bp: '1024px';
$laptop-bp: '1440px';
$fhd-bp: '1920px';
