@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@import "variables";

@import "~bulma/bulma";
@import '~@creativebulma/bulma-collapsible';

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;

  .unicon {
    display: flex;
    align-items: center;
  }

  .button {
    &.is-info {
      background-color: $color-tertiary;

      span {
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .w-auto {
    width: auto !important;
  }

  .ml-auto {
    margin-left: auto !important;
  }

  .text-success {
    color: $color-primary !important;
  }

  .text-decoration-none {
    text-decoration: none !important;
  }
}


